<form class="form update-form " method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn charcoal-color-bg text-light rounded-0"
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <!-- Makes the quantity input field only allow whole numbers -->
            <input step="1"
            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            title="Numbers only" class="form-control form-control-sm qty_input" type="number"
            name="quantity" value="{{ item.quantity }}" min="1" max="99" 
            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn charcoal-color-bg text-light rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link charcoal-color mt-1 me-2 float-end" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save"><span><i class=" far fa-save fa-lg"></i></span></a>
<a id="remove_{{ item.item_id }}" class="mt-1 ms-2 remove-item charcoal-color" 
    data-size="{{ item.size }}" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove"><span><i class=" far fa-trash-alt fa-lg"></i></span></a>



{% block postloadjs %}

{% endblock %}