{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="container d-none d-md-block">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides">
                    <img class="books img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotolow-light-photography-of-books-1301585-min.jpg">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">    
                <a href="{% url 'artsandcrafts' %}?category=colouring_books,paint,pencils">
                    <img class="arts img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-paintbrush-1666756-min.jpg"
                        alt="">
                </a>
                <a href="{% url 'games' %}?category=jigsaw_puzzles,board_games">
                    <img class="games img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-monopoly-board-game-1240581-min.jpg"
                        alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="container d-md-none">
        <div class="row">
            <div class="col-sm-12 d-md-none">
                <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides">
                    <img class="books img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotolow-light-photography-of-books-1301585-min.jpg">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-md-none">    
                <a href="{% url 'artsandcrafts' %}?category=colouring_books,paint,pencils">
                    <img class="arts img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-paintbrush-1666756-min.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-6 d-md-none">
                <a href="{% url 'games' %}?category=jigsaw_puzzles,board_games">
                    <img class="games img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-monopoly-board-game-1240581-min.jpg"
                        alt="">
                </a>
            </div>
        </div>
    </div>
           

<div class="container">
    <div class="row product-row">
        <div class="product-container col-lg-10 col-12 offset-lg-1">
            <div class="row mt-1 mb-2 text-center">
                <div class="col">
                    <h4 class="logo-font">Books</h4></div>
            </div>
            <div class="row mt-1 mb-2">
            </div>
            <div class="row">
                {% include 'home/includes/random_books.html' %}
            </div>
            
            <div class="row mt-1 mb-2 text-center">
                <div class="col">
                    <h4 class="logo-font">Games</h4></div>
            </div>
            <div class="row">
                {% include 'home/includes/random_games.html' %}
            </div>

            <div class="row mt-1 mb-2 text-center">
                <div class="col">
                    <h4 class="logo-font">Arts & Crafts</h4></div>
            </div>
            <div class="row">
                {% include 'home/includes/random_arts_and_crafts.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}