{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!------------------------------------------------------ From norli.no home page -------------------------------------------------------------------------------------->
    <div class="container-fluid">
        <div class="row-full-width-inner" data-element="inner" style="box-sizing: border-box; margin-left: auto; margin-right: auto; max-width: 93.25rem; width: 100%;">
            <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group"
                data-grid-size="12" data-element="main">
                <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
                    data-background-images="{}" data-element="main"
                    style="justify-content: flex-start; display: flex; flex-direction: column; background-position: left top; background-size: cover; background-repeat: no-repeat; background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px; width: 66.6667%; margin: 0px; padding: 0px 0px 10px; align-self: stretch;">
                    <figure class="side-padding" data-content-type="image" data-appearance="full-width" data-element="main"
                        style="margin-left: 0px; margin-top: 0px; margin-right: 0px; padding: 0px 10px 16px 20px; border-style: none;">
                        <a href="#" target=""
                            data-link-type="default" title="" data-element="link">
                            <img class="pagebuilder-mobile-hidden"
                                src="" alt="farsdag boktips"
                                title="" data-element="desktop_image"
                                style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;">
                            <img class="pagebuilder-mobile-only d-none"
                                src="" alt="farsdag boktips"
                                title="" data-element="mobile_image"
                                style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;"></a>
                    </figure>
                </div>
                <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
                    data-background-images="{}" data-element="main"
                    style="justify-content: flex-start; display: flex; flex-direction: column; background-position: left top; background-size: cover; background-repeat: no-repeat; background-attachment: scroll; border-style: none; border-width: 1px; border-radius: 0px; width: 33.3333%; margin: 0px; padding: 0px; align-self: stretch;">
                    <figure class="side-padding" data-content-type="image" data-appearance="full-width" data-element="main"
                        style="margin: 0px; padding: 0px 20px 16px 10px; border-style: none;">
                        <a href="#" target="" data-link-type="default" title=""
                            data-element="link"><img class="pagebuilder-mobile-hidden"
                                src="https://www.norli.no/media/catalog/category/jul/jul2021_spill-puslespill-40_476x200.jpg"
                                alt="" title="" data-element="desktop_image"
                                style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;">
                            <img class="pagebuilder-mobile-only d-none"
                                src="https://www.norli.no/media/catalog/category/jul/jul2021_spill-puslespill-40_476x200.jpg"
                                alt="" title="" data-element="mobile_image"
                                style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;">
                        </a>
                        <a href="#" target="" data-link-type="default" title=""
                            data-element="link"><img class="pagebuilder-mobile-hidden"
                                src="https://www.norli.no/media/catalog/category/jul/jul2021_spill-puslespill-40_476x200.jpg"
                                alt="" title="" data-element="desktop_image"
                                style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;">
                            <img class="pagebuilder-mobile-only d-none"
                                src="https://www.norli.no/media/catalog/category/jul/jul2021_spill-puslespill-40_476x200.jpg"
                                alt="" title="" data-element="mobile_image"
                                style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
<!---------------------------------------------------------------------------------------------------------------------------------->    

{% endblock %}