{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="container d-none d-md-block ">
        <div class="row product-row row-homepage">
            <div class="homepage-container col-lg-10 col-12 offset-lg-1">
                <div class="row row-homepage">
                    <div class="col-sm-12 col-md-8 position-relative hover-effect">
                        <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides">
                            <img class="books"
                                src="{{ MEDIA_URL }}homepage/pexels.comphotolow-light-photography-of-books-1301585-min.jpg">
                            <span class="logo-font position-absolute top-50 start-50 translate-middle books-text">Books</span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">    
                        <a href="{% url 'artsandcrafts' %}?category=colouring_books,paint,pencils">
                            <div class="container-arts position-relative hover-effect">
                                <img class="position-relative arts arts-relative img-fluid"
                                    src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-paintbrush-1666756-min.jpg"
                                    alt="">
                                <img class="position-absolute arts img-fluid arts-absolute"
                                    src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-paintbrush-1666756-min.jpg"
                                    alt="">
                                <span class="logo-font position-absolute top-50 start-50 translate-middle arts-text">Arts & Crafts</span>
                            </div>
                        </a>
                        <a class="position-relative hover-effect" href="{% url 'games' %}?category=jigsaw_puzzles,board_games">
                            <img class="games img-fluid"
                                src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-monopoly-board-game-1240581-min.jpg"
                                alt="">
                            <span class="logo-font position-absolute top-50 start-50 translate-middle games-text">Games</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-none">
        <div class="homepage-container col-lg-10 col-12 offset-lg-1">
        <div class="row row-homepage">
            <div class="col-sm-12 d-md-none position-relative hover-effect">
                <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides">
                    <img class="books img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotolow-light-photography-of-books-1301585-min.jpg">
                    <span class="logo-font position-absolute top-50 start-50 translate-middle books-text">Books</span>
                </a>
            </div>
        </div>
        <div class="row row-homepage">
            <div class="col-6 d-md-none position-relative hover-effect">    
                <a href="{% url 'artsandcrafts' %}?category=colouring_books,paint,pencils">
                    <img class="arts img-fluid"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-paintbrush-1666756-min.jpg"
                        alt="">
                    <span class="logo-font position-absolute top-50 start-50 translate-middle arts-text">Arts & Crafts</span>
                </a>
            </div>
            <div class="col-6 d-md-none position-relative hover-effect">
                <a href="{% url 'games' %}?category=jigsaw_puzzles,board_games">
                    <img class="games img-fluid h-100"
                        src="{{ MEDIA_URL }}homepage/pexels.comphotoclose-up-photo-of-monopoly-board-game-1240581-min.jpg"
                        alt="">
                    <span class="logo-font position-absolute top-50 start-50 translate-middle games-text">Games</span>
                </a>
            </div>
        </div>
    </div>
    </div>
           

<div class="container">
    <div class="row product-row row-homepage">
        <div class="product-container col-lg-10 col-12 offset-lg-1">
            <div class="row mt-1 mb-2 text-center">
                <div class="col">
                    <h4 class="mt-4 logo-font text-decoration-none">Books</h4></div>
            </div>
            <div class="row">
                {% include 'home/includes/random_books.html' %}
            </div>
            <div class="row mt-2">
                <div>
                    <p class="text-center">Click <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides">here</a>
                    to see all books.</p>
                </div>
            </div>

            <hr>
            
            <div class="row mt-1 mb-2 text-center">
                <div class="col">
                    <h4 class="mt-4 logo-font">Games</h4></div>
            </div>
            <div class="row">
                {% include 'home/includes/random_games.html' %}
            </div>
            <div class="row mt-2">
                <div>
                    <p class="text-center">Click <a href="{% url 'games' %}?category=jigsaw_puzzles,board_games">here</a>
                    to see all games.</p>
                </div>
            </div>

            <hr>

            <div class="row mt-1 mb-2 text-center">
                <div class="col">
                    <h4 class="mt-4 logo-font">Arts & Crafts</h4></div>
            </div>
            <div class="row">
                {% include 'home/includes/random_arts_and_crafts.html' %}
            </div>
            <div class="row mt-2">
                <div>
                    <p class="text-center">Click <a href="{% url 'artsandcrafts' %}?category=colouring_books,paint,pencils">here</a>
                    to see all arts & crafts.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-chevron-up mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}