

    {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto">
            <div class="card h-100 border-0">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}" class="align-center">
                    <img class="card-img-top book-img" src="{{ product.img_paths.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}" class="align-center">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0 mx-auto-custom">
                    <p class="mb-0">{{ product.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left mx-auto-custom">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                            {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted">
                                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if product.book_depository_stars %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.book_depository_stars }} / 5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
        <!-- Credit to Boutique Ado for applying <hr> when divisible by-->
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
        {% endif %}
    {% endfor %}


    