
{% for artsandcraft in artsandcrafts %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2 mx-auto">
        <div class="card h-100 border-0">
            {% if artsandcraft.image %}
            <a href="{% url 'product_detail_arts' artsandcraft.id %}" class="align-center">
                <img class="card-img-top book-img" src="{{ artsandcraft.img_paths.url }}" alt="{{ artsandcraft.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail_arts' artsandcraft.id %}" class="align-center">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ artsandcraft.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0 mx-auto-custom">
                <p class="mb-0">{{ artsandcraft.name }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-left mx-auto-custom">
                <div class="row">
                    <div class="col">
                        <p class="lead mb-0 text-left font-weight-bold">${{ artsandcraft.price }}</p>
                        {% if artsandcraft.category %}
                                <p class="small mt-1 mb-0">
                                    <a href="{% url 'artsandcrafts' %}?category={{ artsandcraft.category.name }}" class="text-muted">
                                        <i class="fas fa-tag mr-1"></i>{{ artsandcraft.category.friendly_name }}
                                    </a>
                                </p>
                        {% endif %}
                        {% if artsandcraft.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ artsandcraft.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>                    
    </div>
    <!-- Credit to Boutique Ado for applying <hr> when divisible by-->
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none mb-5">
        <hr>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
    {% endif %}
{% endfor %}
