<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Books</a>
                <a href="" class="dropdown-item">Biography</a>
                <a href="" class="dropdown-item">Childrens Books</a>
                <a href="" class="dropdown-item">Crafts & Hobbies</a>
                <a href="" class="dropdown-item">Crime & Thriller</a>
                <a href="" class="dropdown-item">Food & Drink</a>
                <a href="" class="dropdown-item">Health</a>
                <a href="" class="dropdown-item">Personal Development</a>
                <a href="" class="dropdown-item">Romance</a>
                <a href="" class="dropdown-item">Teens, Young and Adult</a>
                <a href="" class="dropdown-item">Travel and Holiday Guides</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="books-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Arts & Crafts
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="books-link">
                <a href="{% url 'artsandcrafts' %}" class="dropdown-item">All Arts & Crafts</a>
                <a href="" class="dropdown-item">Colouring Books</a>
                <a href="" class="dropdown-item">Paint</a>
                <a href="" class="dropdown-item">Pencils</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="draw-and-paint-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="draw-and-paint-link">
                <a href="{% url 'games' %}" class="dropdown-item">All Games</a>
                <a href="" class="dropdown-item">Jigsaw Puzzles</a>
                <a href="" class="dropdown-item">Board Games</a>
            </div>
        </li>
    </ul>
</div>