<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="books-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="books-link">
                <a href="" class="dropdown-item">Romance</a>
                <a href="" class="dropdown-item">Sci Fi</a>
                <a href="" class="dropdown-item">Essay</a>
                <a href="" class="dropdown-item">Action</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="draw-and-paint-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Draw & Paint
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="draw-and-paint-link">
                <a href="" class="dropdown-item">Pens</a>
                <a href="" class="dropdown-item">Pencils</a>
                <a href="" class="dropdown-item">Drawing Books</a>
                <a href="" class="dropdown-item">Paint</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="games-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="games-link">
                <a href="" class="dropdown-item">Family Games</a>
                <a href="" class="dropdown-item">Children's Games</a>
                <a href="" class="dropdown-item">Party Games</a>
                <a href="" class="dropdown-item">Card Games</a>
            </div>
        </li>
    </ul>
</div>