<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides" class="dropdown-item">All Books</a>
                <a href="{% url 'products' %}?category=biography" class="dropdown-item">Biography</a>
                <a href="{% url 'products' %}?category=crafts_hobbies" class="dropdown-item">Crafts & Hobbies</a>
                <a href="{% url 'products' %}?category=crime_thriller" class="dropdown-item">Crime & Thriller</a>
                <a href="{% url 'products' %}?category=food_drink" class="dropdown-item">Food & Drink</a>
                <a href="{% url 'products' %}?category=personal-development" class="dropdown-item">Personal Development</a>
                <a href="{% url 'products' %}?category=romance" class="dropdown-item">Romance</a>
                <a href="{% url 'products' %}?category=science-fiction-fantasy-horror" class="dropdown-item">Science-fiction, Fantasy & Horror</a>
                <a href="{% url 'products' %}?category=sport" class="dropdown-item">Sport</a>
                <a href="{% url 'products' %}?category=teen-young-adult" class="dropdown-item">Teens, Young and Adult</a>
                <a href="{% url 'products' %}?category=travel-holiday-guides" class="dropdown-item">Travel and Holiday Guides</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="books-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Arts & Crafts
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="books-link">
                <a href="{% url 'artsandcrafts' %}?category=colouring_books,paint,pencils" class="dropdown-item">All Arts & Crafts</a>
                <a href="{% url 'artsandcrafts' %}?category=colouring_books" class="dropdown-item">Colouring Books</a>
                <a href="{% url 'artsandcrafts' %}?category=paint" class="dropdown-item">Paint</a>
                <a href="{% url 'artsandcrafts' %}?category=pencils" class="dropdown-item">Pencils</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="draw-and-paint-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="draw-and-paint-link">
                <a href="{% url 'games' %}?category=jigsaw_puzzles,board_games" class="dropdown-item">All Games</a>
                <a href="{% url 'games' %}?category=jigsaw_puzzles" class="dropdown-item">Jigsaw Puzzles</a>
                <a href="{% url 'games' %}?category=board_games" class="dropdown-item">Board Games</a>
            </div>
        </li>
    </ul>
</div>