{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="homepage-container col-lg-10 col-12 offset-lg-1">
            <div class="row row-homepage">
                <div class="col-sm-12 position-relative hover-effect">
                    <a href="{% url 'products' %}?category=biography,crafts_hobbies,crime_thriller,food_drink,personal-development,romance,science-fiction-fantasy-horror,sport,teen-young-adult,travel-holiday-guides">
                        {% if blog.image %}
                            <img class="blog-img img-fluid"
                                src="{{ blog.image }}">
                        {% else %}
                        {% endif %}
                    </a>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-10 offset-1">
                        <h1 class="display-5"> {{ blog.title }}</h1>
                        <div class="lead">
                            <p> {{ blog.body|linebreaks }}</p>
                        </div>
                        <p> {{ blog.created_by }}</p>
                        <p> {{ blog.created_at }}</p>
                        <br>
                        <br>
                        
                        
                </div>
            </div>
        
            <hr>

            {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'add_comment' blog.id %}" class="form mb-2" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-6 offset-xl-3 offset-lg-2">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                    <a href="{% url 'add_comment' blog.id %}" class="charcoal-btn btn border underline-white">
                        <span class="text-uppercase">Cancel</span>
                    </a>
                    <button type="submit" class="green-btn btn underline border text-uppercase">Add Comment</button>
                    </div>
                </div>
            </form>
            {% endif %}
        
        
        <!-- Modal -->
        <!-- <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form method="POST" action="{% url 'add_comment' blog.id %}" class="form mb-2" enctype="multipart/form-data">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                    </div>
                </form>
            </div>
            </div>
        </div> -->

            <hr>
            <div class="row mb-3">
                <div class="col-12">
                    <h1 class="ms-4 display-6">Comments</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    {% if comments %}
                        {% for comment in comments %}
                            <h5> {{ comment.name }}</h5>
                            <p> {{ comment.comment|linebreaks }}</p>
                            <p> {{ comment.created_at }}</p>
                        {% endfor %}
                    {% else %}
                        <h5>There are no comments.</h5>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}




