{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="homepage-container col-lg-10 col-12 offset-lg-1">
            <!-- Blog image -->
            <div class="row row-homepage">
                <div class="col-sm-12 position-relative hover-effect">
                    <a href="{% url 'view_blog' %}">
                        <img class="blog-img img-fluid"
                            src="{{ MEDIA_URL }}homepage/blog.jpg" alt="blog image">
                    </a>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="row mt-4">
                <div class="col-10 offset-1 overflow-break">
                    <a href="{% url 'view_blog' %}"><i class="fas fa-chevron-left fa-sm"></i> Back to Blog</a>
                    <hr>
                    <h1 class="display-5"> {{ blog.title }}</h1>
                    <div class="lead">
                        {{ blog.body|linebreaks }}
                    </div>
                    {% if blog.image %}
                        <img class="img-fluid" src="{{ blog.image }}" alt="{{ blog.image }}">
                    {% else %}
                    {% endif %}
                    {{ blog.created_by }}
                    {{ blog.created_at }}
                    <br>
                    <br>
                </div>
            </div>
            <hr>
            <!-- Add Comment form -->
            {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'add_comment' blog.id %}" class="form mb-2" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-10 offset-1 col-md-8 col-xl-6 offset-xl-3 offset-md-2">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                    <a href="{% url 'add_comment' blog.id %}" class="charcoal-btn btn border underline-white">
                        <span class="text-uppercase">Cancel</span>
                    </a>
                    <button type="submit" class="green-btn btn underline border text-uppercase">Add Comment</button>
                    </div>
                </div>
            </form>
            {% endif %}
            <hr>
            <!-- Blog post comments -->
            <div class="row mb-3">
                <div class="col-10 offset-1 col-xl-8 offset-xl-2">
                    <h1 class="display-6">Comments</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 col-xl-8 offset-xl-2 overflow-break">
                    {% if comments %}
                        {% for comment in comments %}
                            <h5> {{ comment.name }}</h5>{% if request.user.is_superuser %}
                            <span class="float-end me-md-5">
                                <a href="{% url 'delete_comment' comment.id %}" class="charcoal-color" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Comment"><i class="far fa-trash-alt fa-lg"></i></a>
                            </span>
                            {% endif %}
                            {{ comment.comment|linebreaks }}
                            <small>{{ comment.created_at }}</small>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <h5>There are no comments.</h5>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}




