{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-blog">
        <div class="homepage-container col-lg-10 col-12 offset-lg-1">
            <!-- Blog image -->
                <div class="row row-homepage">
                    <div class="col-sm-12 position-relative hover-effect">
                        <a href="{% url 'view_blog' %}">
                            <img class="blog-img img-fluid"
                                src="{{ MEDIA_URL }}homepage/blog.jpg" alt="blog image">
                        </a>
                    </div>
                </div>
            <!-- Page header, back to home link and Add blog post button -->
            <div class="row">
                <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                    <h2 class="logo-font mt-4 mb-1">Arca Blog</h2>
                    <br>
                    <div class="row mb-3">
                        <a href="{% url 'home' %}"><i class="fas fa-chevron-left fa-sm"></i> Back to Home</a>

                    </div>
                    <br>
                    {% if request.user.is_superuser %}
                    <!-- Button trigger modal -->
                    <span><button type="button" class="green-btn btn underline border text-uppercase btn-lg" data-bs-toggle="modal" data-bs-target="#blogPostModal">
                    <span class="icon"><i class="fas fa-plus"></i></span> Add Blog Post
                    </button></span>
                    <br>
                    {% endif %}
                </div>
            </div>
            <!-- Blog posts -->
            <div class="row">
                {% for blog in blogs %}
                <div class="border border-1 rounded mt-3 col-10 offset-1 col-lg-8 offset-lg-2">
                        <a href="{% url 'blog_info' blog.id %}" class="text-dark text-decoration-none">
                            <h1 class="display-5"> {{ blog.title }}</h1>
                            <div class="cut-text"> {{ blog.body|linebreaks }}</div>
                            {% if blog.image %}
                            <div class="custom-image-container">
                                <img class="img-fluid" src="{{ blog.image }}" alt="blog post image">
                            </div>
                            {% else %}
                            {% endif %}
                            <p>Added by: {{ blog.created_by }}</p>
                            <p class="text-muted"> {{ blog.created_at }}</p>
                        </a>  
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_post' blog.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_post' blog.id %}">Delete</a>
                            </small>
                        {% endif %}      
                    </div>
                {% endfor %}
            </div>
            <!-- Modal for adding blog post -->
            <div class="modal fade" id="blogPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <form method="POST" action="{% url 'add_post' %}" class="form mb-2" enctype="multipart/form-data">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="charcoal-btn btn border underline-white" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="green-btn btn underline border text-uppercase">Add Post</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Back to top button -->
    <div class="btt-button shadow-sm">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-chevron-up mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}




