{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4">{{ user.get_username }}'s "{{ product.name }}" Review</h2>
            </div>
            <div class="col-md-6 float-end">
                <img class="card-img-top product-img" src="{{ product.img_paths.url }}"
                alt="{{ product.name }}">
            </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form class="review-form" method="POST" action="{% url 'add_review' product.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-right">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Review</button>
                    </div>
                    <div class="star-wrapper border-black">
                        <button type="submit" class="my-button fas fa-star s1"></button>
                        <button type="submit" class="my-button fas fa-star s2"></button>
                        <button type="submit" class="my-button fas fa-star s3"></button>
                        <button type="submit" class="my-button fas fa-star s4"></button>
                        <button type="submit" class="my-button fas fa-star s5"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.s1').click(function() {
            $('.fa-star ~ button').css('color', 'gold');
            $('.s1').css('color', 'gold').addClass('checked');
        });
        $('.s2').click(function() {
            console.log('you clicked rating 2');
            $('.fa-star ~ button').css('color', 'gold');
            $('.s1').css('color', 'white');
        });
        $('.s3').click(function() {
            console.log('you clicked rating 3');
            $('.fa-star ~ button').css('color', 'gold');
            $('.s1').css('color', 'white');
            $('.s2').css('color', 'white');
        });
        $('.s4').click(function() {
            console.log('you clicked rating 4');
            $('.fa-star ~ button').css('color', 'gold');
            $('.s1').css('color', 'white');
            $('.s2').css('color', 'white');
            $('.s3').css('color', 'white');
        });
        $('.s5').click(function() {
            console.log('you clicked rating 5');
            $('.fa-star ~ button').css('color', 'gold');
            $('.s1').css('color', 'white');
            $('.s2').css('color', 'white');
            $('.s3').css('color', 'white');
            $('.s4').css('color', 'white');
        });
    </script>
{% endblock %}



