<div class="toast custom-toast rounded-3 border-top-0" data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper charcoal-color-bg"></div>
    <div class="toast-header maximum-yellow-red-color-bg text-dark">
        <strong class="mr-auto letter-spacing">{{ message }}</strong>
        <button type="button" class="ml-2 ms-auto btn-close text-dark" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
</div>