<div class="toast custom-toast rounded-3 border-top-0" data-bs-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper charcoal-color-bg"></div>
    <div class="toast-header maximum-yellow-red-color-bg text-dark">
        <strong class="mr-auto letter-spacing">{{ message }}</strong>
        <button type="button" class="ml-2 ms-auto btn-close text-dark" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="toast-body maximum-yellow-red-color-bg">
        {% if grand_total and not on_profile_page %}
            <p class="maximum-yellow-red-color-bg text-black py-1">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.img_paths.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 mt-2 rounded-3 p-2 bg-light shadow-sm text-black text-center">
                            SPEND <strong>${{ free_delivery_delta }}</strong> MORE AND GET FREE SHIPPING
                        </p>
                </div>
                <div class="col-6 mx-auto">
                    {% endif %}
                    <a href="{% url 'view_bag' %}" class="mt-3 rounded-3 btn charcoal-color-bg text-white btn-block rounded-0">
                        <span class="text-uppercase">Checkout</span>
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>